.app {
width: 1440px;
padding-left: 64px;
padding-right: 64px;
}


.nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px 128px;
}

.link {
  color: black;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
}

.linkActive {
  color: blue;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
}